.admin-login {
    background-color: #525252;
}

.admin-login-form {
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    width: 300px;
    height: 464px;
    /*margin: 20px 10px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.admin-login-title h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-top: 59px;
    margin-bottom: 39px;
}

.admin-login-form-body {
    padding: 0 17px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.admin-login-form input {
    box-sizing: border-box;
    background: #FEFEFE;
    border: 1px solid #FEFEFE;
    border-radius: 4px;    

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    
    color: #9E9E9E;
    
    mix-blend-mode: normal;    

    height: 47px;
    flex-grow: 1;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;  

    margin-top: 20px;
}

.admin-login-form-alert {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;  
    border-radius: 4px;
}

.admin-login-form button {
    background: #FFC700;
    border-radius: 4px;    

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;    

    height: 47px;
    margin-top: 34px;
    flex-grow: 1;
    width: 100%;

}