.movie-card {
  background: #6c6c6c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.movie-card-img {
  padding-top: 26px;
}

.movie-card-img img {
  width: 100%;
}

.movie-card-body {
  padding-bottom: 26px;
  margin: 0 15px;
}

.movie-card h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.015em;

  color: #ffffff;

  mix-blend-mode: normal;
  margin-top: 10px;
}

.movie-card h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #ffc700;
  mix-blend-mode: normal;
}

.movie-card p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #ffffff;
  mix-blend-mode: normal;
}

@media (min-width: 576px) {
  .movie-card {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .movie-card {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .movie-card-img {
    padding-top: 16px;
  }
}
